<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css"
      title="Wrap Long Lines">
  </head>
  <body>
    <pre>/*
	tswnavbar.css	1.2.4
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 90% ;
	max-width: 100% ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Lucida Handwriting, Century, sans-serif ;
}
#tswcssbuttons li a {
	color: #ffffff ;
	background-color: #ffb8ed ;
	border: 1px outset #ffb8ed ;
	text-decoration: none ;
	display: block ;
}
#tswcssbuttons li a:hover {
	color: #ffffff ;
	background-color: #f466d1 ;
}
</pre>
  </body>
</html>
