#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Lucida, Handwriting, Century, sans-serif;
}

#tswcssbuttons li a {
  color: white;
  background-color: #ffb8ed;
  border: 1px outset #ffb8ed;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: white;
  background-color: #f466d1;
}

#tswcontent {
  text-align: center;
}

